{% extends 'base.html.twig' %}

{% block title %}Produits 1{% endblock %}

{% block body %}
<div class="produit">
    <h1>Mon produit</h1>
    <img src="http://placehold.it/450x150" alt="">
    <p>Date de création 12/20/2020</p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Architecto earum dolores quo sapiente dolore dolorem neque nobis? 
        Blanditiis pariatur doloremque maiores dicta deserunt veritatis 
        consequuntur nobis aliquam, ipsam ab distinctio.
    </p>
</div>
{% endblock %}
